

/*==================== MAIN ====================*/
.port-main {
    width: 1170px;
    height: 1360px;
    margin: 94px 215px 0 215px;
}

.port-filters {   
    width: 611px;
    height: 54px;
    left: 495px;
    top: 174px;
    padding-left: 280px;
    margin-bottom: 34px;
    display: flex;
    flex-direction: row;
}

.port-button {
    height: 38px;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 8px;

    color: #212121;
}

.port-button:last-child {
    margin-right: 0;
}

.port-button:hover,
.port-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.port-all {
    width: 73px;
}

.port-web {
    width: 128px;
}

.port-apps {
    width: 145px;
}

.port-design {
    width: 101px;
}

.port-marketing {
    width: 130px;
}

.port-project {
    display: inline-block;
    width: 370px;
    height: 404px;
    margin-right: 26px;
    margin-bottom: 30px;
    color: #EEEEEE;
}

.port-project:nth-child(3n) {
    margin-right: 0;
}

.photo {
    width: 370px;
    height: 294px;
}
.port-title-link {
    width: 322px;
    height: 70px;
    margin: 20px 24px;
}

.port-title {
    width: 322px;
    height: 36px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.port-link {
    width: 322px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: #757575;
}

/*==================== /MAIN ====================*/

/*==================== FOOTER ====================*/
#port-footer {
    position: relative ;
    top: 93px;
}
/*==================== /FOOTER ====================*/
